.avatar, .avatarSubscribed {
    margin-left: -10px;
    outline: 1px solid transparent;
    color: var(--mantine-color-text) !important;
}


.avatar {
    border-color: var(--mantine-color-dark-4) !important;
}

.avatarSubscribed {
    outline-color: var(--mantine-primary-color-filled) !important;
    z-index: 1;
}

.followingText {
    text-align: center;
    line-height: .5rem;
}
