.avatar, .avatarSubscribed {
    margin-left: -10px;
    outline: 2px solid transparent;
    color: var(--mantine-color-text) !important;
    border: none !important;
}


.avatar {
    outline-color: var(--mantine-color-dark-4) !important;

    &:hover {
        outline-color: var(--mantine-primary-color-filled-hover) !important;
        z-index: 10;
    }
}

.avatarSubscribed {
    outline-color: var(--mantine-primary-color-filled) !important;
    z-index: 1;
}

.followingText {
    text-align: center;
    line-height: .5rem;
}
