.box {
    width: 100%;
    height: 100vh;
    z-index: -10;
}


.inner {
    padding: 50px;
    width: 50vw;
}

.content {
    padding: 50px;
    backdrop-filter: blur(1px);

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.control {
    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
    }
}


.highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}
