.tableRow {
    cursor: grab;
    border-radius: 5px;
    outline: none;

    &:hover {
        outline: 1px solid var(--mantine-primary-color-filled);
    }
}

.tableRow:hover {
    border-radius: 5px;
}

.tableRowDrag {
    cursor: grabbing;
    border-radius: 5px;
    background-color: var(--mantine-color-dark-7) !important;
    outline: 1px solid var(--mantine-primary-color-light);
    position: relative;
}

.ghostRowClass {
    opacity: 0;
    height: 0 !important;
}
