.react-flow__edge-floating .react-flow__edge-path {
    stroke-width: 3px;
    stroke: var(--mantine-color-text);
    transition: stroke, stroke-width .1s;
    z-index: 0;
    opacity: 0.6;
}


.react-flow__edge-floating:hover .react-flow__edge-path,
.react-flow__edge-floating.selected .react-flow__edge-path,
.react-flow__edge-floating .react-flow__edge-interaction:hover ~ .react-flow__edge-floating .react-flow__edge-path {
    stroke-width: 4px;
    stroke: var(--mantine-color-text) !important;
    opacity: 1 !important;
}


