.react-flow__edge-floating .react-flow__edge-path {
    stroke-width: 3px;
    stroke: var(--mantine-color-text);
    opacity: 0.6;
    transition: opacity .1s;
}

.react-flow__edge-floating:hover .react-flow__edge-path,
.react-flow__edge-floating.selected .react-flow__edge-path,
.react-flow__edge-floating .react-flow__edge-interaction:hover ~ .react-flow__edge-floating .react-flow__edge-path {
    opacity: 1 !important;
    stroke: var(--mantine-color-text) !important;
}


