.accordionTitleText {
    font-weight: 500;
    color: var(--mantine-color-dimmed);
}

.accordionControl {
    padding: 0 10px !important;
}

.accordionContent {
    padding: 0 10px !important;
    margin-bottom: 10px;
}

.accordionRoot {
    width: 100%;
}

.accordionChevron {
    margin-inline-start: 5px !important;
    margin-inline-end: 5px !important;
}
