.box {
    min-width: 400px;
    min-height: 100px;
    position: relative;
}

.card {
    height: calc(100%);
    transition: 0.3s;
    outline: 3px solid var(--mantine-primary-color-filled-hover) !important;

    &:hover {
        outline: 5px solid var(--mantine-primary-color-filled-hover) !important;
    }
}

.cardSelected {
    height: calc(100%);
    outline: 7px solid var(--mantine-primary-color-filled) !important;
}
