.tableRoot {
  overflow-x: scroll;
  width: calc(100%);
  border-color: var(--mantine-primary-color-filled);
  background-color: var(--mantine-color-dark-6);
}

.tableContent {
  width: max-content;
}

.dragClass {
}

.ghostClass {
    opacity: 0;
}

.chosenClass {
}

.table {
  overflow-x: scroll;
}
