.content {
    padding: rem(50px);
    z-index: 1;
    position: relative;
    width: fit-content;
    backdrop-filter: blur(1px);
    border-radius: 100px;

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
        padding: rem(20px);
        backdrop-filter: none;
        border-radius: 0;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(20px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(30px) !important;
        line-height: 1;
    }
}

.control {
    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
    }
}


.highlight {
    padding: rem(4px) rem(12px) !important;
    font-size: 40px !important;
    font-weight: bold !important;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: 30px !important;

    }
}
