.root {
    cursor: pointer;
    outline: 1px solid var(--mantine-color-dark-4);

    &:hover {
        outline: 1px solid var(--mantine-color-dark-4);
    }

    & a:any-link {
        color: var(--mantine-color-text);
    }
}
.imgContainer {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: rem(200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img, .imgEmpty {
    object-fit: contain;
}

.imgEmpty {
    height: 80px;
    width: 80px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    column-gap: 5px;
    z-index: 200;
}

.titleContainer {
    background-color: rgba(115, 115, 115, 0.18);
    padding: 0 var(--mantine-spacing-sm);
    height: 50px;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 40px;
}
