.box {
    min-width: 400px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    //height: calc(100% - 50px);
    transition: 0.3s;
    outline: 3px solid var(--mantine-primary-color-filled-hover) !important;

    &:hover {
        outline: 5px solid var(--mantine-primary-color-filled-hover) !important;
    }
}

.cardSelected {
    height: calc(100% - 50px);
    outline: 5px solid var(--mantine-primary-color-filled) !important;
}

.erdNodeHandle {
    z-index: -1 !important;
}

.erdNodeHandleActive {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: alpha(var(--mantine-primary-color-filled), 0.5) !important;
}

.sourceHandle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}

.handleLabel {
    font-size: 50px !important;
    color: white;
    font-weight: bold;
}
