.card {
    transition: 0.3s;
    outline: 3px solid var(--mantine-primary-color-filled-hover) !important;

    &:hover {
        outline: 5px solid var(--mantine-primary-color-filled-hover) !important;
    }
}

.react-flow__node.react-flow__node-entity.selected .card {
    height: calc(100% - 50px);
    outline: 5px solid var(--mantine-primary-color-filled) !important;
}

.parentElement :global(.react-flow__node.react-flow__node-entity.selected) .card {
    height: calc(100% - 50px);
    outline: 5px solid var(--mantine-primary-color-filled) !important;
}

.cardSelected {
    height: calc(100% - 50px);
    outline: 5px solid var(--mantine-primary-color-filled) !important;
}

.erdNodeHandle {
    z-index: -1 !important;
}

.erdNodeHandleActive {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: alpha(var(--mantine-primary-color-filled), 0.5) !important;
}


div.handle {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;

}

.handleLabel {
    font-size: 50px !important;
    color: white;
    font-weight: bold;
}
