.react-flow .react-flow__edge.react-flow__edge-entity .react-flow__edge-path {
    stroke: #858585;
    stroke-width: 1.5;
    transition: stroke-width 0.2s, stroke 0.3s;
}

.react-flow .react-flow__edge.react-flow__edge-entity.selected .one-to-one,
.react-flow .react-flow__edge.react-flow__edge-entity .one-to-one.selected
{
    marker-end: url(#one-selected);
    marker-start: url(#one-selected);
}

.react-flow .react-flow__edge.react-flow__edge-entity.selected .one-to-many,
.react-flow .react-flow__edge.react-flow__edge-entity .one-to-many.selected{
    marker-start: url(#one-selected);
    marker-end: url(#many-selected);
}

.react-flow .react-flow__edge.react-flow__edge-entity.selected .one-to-one,
.react-flow .react-flow__edge.react-flow__edge-entity.selected .one-to-many,
.react-flow .react-flow__edge.react-flow__edge-entity .one-to-one.selected,
.react-flow .react-flow__edge.react-flow__edge-entity .one-to-many.selected
{
    stroke: #faf5f5;
    stroke-width: 2;
}
