.erd-container {
    height: calc(100vh - 100px);
    position: relative;
    border: 2px solid transparent;
}

.erd-container.subscribed {
    border-color: var(--mantine-primary-color-filled);
}

.react-flow {
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-filled));
}

.react-flow__controls-button {
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    fill: var(--mantine-color-text);
    border-bottom: 1px solid var(--mantine-color-text);
}

.react-flow__minimap {
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
}

.react-flow__attribution {
    background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));

}

.react-flow__node.selected {
    user-select: none !important;
}

.react-flow__node-entity.dragging {
    pointer-events: none !important;
}
