.link {
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--mantine-color-text);
    transition: 0.3s;
    &:visited {
        color: var(--mantine-color-text);
    }
    &:hover {
        background-color: var(--mantine-primary-color-light-hover);
    }
}

.activeLink {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--mantine-color-text);
    background-color: var(--mantine-primary-color-light);
    &:visited {
        color: var(--mantine-color-text);
    }
}
