.erdNodeHandle {
    z-index: -1 !important;
    height: 0;
    width: 0;
    overflow: hidden;
}

.erdNodeHandleActive {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: alpha(var(--mantine-primary-color-filled), 0.5) !important;
}


div.handle {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;

}

.handleLabel {
    font-size: 50px !important;
    color: white;
    font-weight: bold;
}
