.defaultContainer, .activeContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.activeContainer {
    z-index: 1;
    background-color: alpha(var(--mantine-primary-color-filled), 0.5)
}

div.handle {
    width: 100%;
    height: 100%;
    /*background: #3695b8;*/
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    overflow: hidden;
    opacity: 0;
}

.handleLabel {
    font-size: 4rem;
    color: white;
    font-weight: bold;
}
