.tableRow {
    cursor: grab;
}

.tableRowDrag {
    cursor: grabbing;
    border-radius: 5px;
    background-color: var(--mantine-color-dark-7);
    outline: 1px solid var(--mantine-primary-color-light);
    position: relative;
}

.ghostRowClass {
    opacity: 0;
}
